<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>index</th>
      <th>Город</th>
      <th>Уровень зарплат по городам</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>Москва</td>
      <td>98732.36</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Санкт-Петербург</td>
      <td>82842.44</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Новосибирск</td>
      <td>77665.64</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Минск</td>
      <td>76587.13</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Екатеринбург</td>
      <td>73017.63</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Казань</td>
      <td>66853.66</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Краснодар</td>
      <td>65404.44</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Нижний Новгород</td>
      <td>62999.02</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Самара</td>
      <td>61243.17</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Челябинск</td>
      <td>60995.54</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Уфа</td>
      <td>60737.05</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Красноярск</td>
      <td>60202.31</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Ростов-на-Дону</td>
      <td>57595.71</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Пермь</td>
      <td>56826.88</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Воронеж</td>
      <td>55189.37</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Алматы</td>
      <td>54107.47</td>
    </tr>
  </tbody>
</table>