<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>index</th>
      <th>Год</th>
      <th>Средняя з/п для C# программиста</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>2003</td>
      <td>24160.32</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2004</td>
      <td>36949.79</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2005</td>
      <td>37771.35</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2006</td>
      <td>46596.74</td>
    </tr>
    <tr>
      <td>4</td>
      <td>2007</td>
      <td>56483.15</td>
    </tr>
    <tr>
      <td>5</td>
      <td>2008</td>
      <td>56053.50</td>
    </tr>
    <tr>
      <td>6</td>
      <td>2009</td>
      <td>53732.75</td>
    </tr>
    <tr>
      <td>7</td>
      <td>2010</td>
      <td>53445.53</td>
    </tr>
    <tr>
      <td>8</td>
      <td>2011</td>
      <td>57111.29</td>
    </tr>
    <tr>
      <td>9</td>
      <td>2012</td>
      <td>63123.67</td>
    </tr>
    <tr>
      <td>10</td>
      <td>2013</td>
      <td>69539.76</td>
    </tr>
    <tr>
      <td>11</td>
      <td>2014</td>
      <td>68978.28</td>
    </tr>
    <tr>
      <td>12</td>
      <td>2015</td>
      <td>76223.83</td>
    </tr>
    <tr>
      <td>13</td>
      <td>2016</td>
      <td>83808.43</td>
    </tr>
    <tr>
      <td>14</td>
      <td>2017</td>
      <td>90357.44</td>
    </tr>
    <tr>
      <td>15</td>
      <td>2018</td>
      <td>105397.17</td>
    </tr>
    <tr>
      <td>16</td>
      <td>2019</td>
      <td>107688.21</td>
    </tr>
    <tr>
      <td>17</td>
      <td>2020</td>
      <td>117709.02</td>
    </tr>
    <tr>
      <td>18</td>
      <td>2021</td>
      <td>139779.23</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2022</td>
      <td>159172.39</td>
    </tr>
  </tbody>
</table>