{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <h1 class="index-h">Кто такой C# программист?</h1>
    <img class="index-img" src="{% static 'img/html_images/logo.png' %}" alt="C# developer" width="400">
    <p>C# (Си-Шарп) — это объектно-ориентированный язык программирования, разработанный корпорацией Microsoft. Он является основным инструментом для разработки на платформе .NET и применяется в создании веб-приложений, настольного ПО, игр, а также систем корпоративного уровня.</p>
    
    <h2 class="index-h">Что делает C# программист?</h2>
    <p>C# программист занимается созданием приложений с использованием технологий Microsoft, включая .NET Framework и .NET Core. Этот специалист может разрабатывать:</p>
    <ul class = "list">
        <li><strong>Веб-приложения</strong> — с использованием ASP.NET, Blazor или других технологий .NET для построения сайтов и API.</li>
        <li><strong>Игры</strong> — благодаря движку Unity, который широко применяется в игровой индустрии.</li>
        <li><strong>Корпоративные системы</strong> — автоматизация бизнес-процессов, CRM и ERP системы.</li>
        <li><strong>Мобильные приложения</strong> — с использованием Xamarin, который позволяет создавать кроссплатформенные приложения для iOS и Android.</li>
    </ul>
    
    <h2 class="index-h">Основные навыки C# программиста</h2>
    <p>Чтобы стать успешным C# программистом, необходимо владеть рядом навыков и технологий:</p>
    
    <h3 class="index-h">Язык программирования</h3>
    <p>C# — мощный и гибкий язык, который поддерживает множество современных концепций программирования, таких как объектно-ориентированное программирование (ООП), асинхронность и LINQ. программист должен хорошо разбираться в синтаксисе языка и его особенностях.</p>
    
    <h3 class="index-h">Фреймворки и библиотеки</h3>
    <p>Для работы с C# программисти используют .NET Framework или .NET Core (современную кроссплатформенную версию). Также важно знать ASP.NET Core для создания веб-приложений и REST API.</p>
    
    <h3 class="index-h">Базы данных</h3>
    <p>программист должен уметь работать с базами данных, такими как SQL Server, PostgreSQL или MySQL, а также использовать ORM-инструменты, такие как Entity Framework для упрощения работы с данными.</p>
    
    <h3 class="index-h">Игровая разработка</h3>
    <p>Если C# используется для создания игр, программист должен владеть Unity и понимать основы игровой механики, физики и 3D графики.</p>
    
    <h3 class="index-h">Работа с API</h3>
    <p>Знание REST и SOAP API, а также навыки интеграции с внешними сервисами, такими как платежные системы, карты или системы аналитики, являются обязательными для C# программиста.</p>
    
    <h3 class="index-h">Системы контроля версий</h3>
    <p>Грамотный программист должен использовать системы контроля версий, такие как Git, чтобы управлять изменениями в коде и работать в команде.</p>
    
    <h3 class="index-h">Фронтенд</h3>
    <p>C# программисту не обязательно быть экспертом во фронтенде, но понимание основ HTML, CSS и JavaScript будет большим плюсом, особенно при работе с ASP.NET и Blazor.</p>
    
    <h2 class="index-h">Средние зарплаты C# программистов</h2>
    <p>Зарплата C# программиста зависит от уровня квалификации и стека технологий:</p>
    
    <ul class = "list">
        <li><strong>Джун:</strong> 80 000 рублей.</li>
        <li><strong>Мидл:</strong> 180 000 рублей.</li>
        <li><strong>Сеньор:</strong> 280 000 рублей.</li>
    </ul>
    
    <p>Среди программистов максимальной популярностью пользуются мидлы и сеньоры, но джуны также востребованы, особенно в крупных компаниях.</p>
    
{% endblock %}
