<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Топ навыков</title>
</head>
<body>
    <h1>Топ-20 навыков по годам</h1>

    <form method="get" action="">
        <label for="year">Select a year:</label>
        <select id="year" name="year" onchange="this.form.submit()">
            {% for year in available_years %}
            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>
                {{ year }}
            </option>
            {% endfor %}
        </select>
    </form>

    <div>
        {% include "tables/all_skills/top_skills_{{ selected_year }}.html" %}
    </div>
</body>
</html>
